* {
    margin: 0;
}

body {

    background-color: rgb(29, 30, 34);
    font-family: "Epilogue", Verdana, sans-serif;
    color: rgb(244, 241, 222);

}

.button {

    background-color: rgb(242, 204, 143);
    color: rgb(16, 21, 26);
    text-decoration: none;
    margin: 2px;
    padding: 12px;
    font-size: 15px;
    line-height: 50px;
    
}

#firstButton {
    margin-left: 15px;
}

h1{

        color: rgb(242, 204, 143) ;
}

.image-container {
    margin-top: 50px;

}
#desc-left {
    display: inline-block;
}

#desc-right {
    display: inline-block;
    vertical-align: top;
    max-width: 60%;
    margin-left: 25px;
}

#foto {

    width: 250px;
    margin-left: 25px;  
    padding: 5px;
    background-color: white;
    border-radius: 100%;
}

li {

    line-height: 30px;
    list-style: none;

}

li:hover {
    background-color: rgb(75, 91, 145) ;
    color: rgb(9, 12, 15) ;
}


.subtitle { 

    color: rgb(242, 204, 143) ;
    text-align: center;
    margin-top: 30px;
}
        
#meuNome {
    font-size: 70px;
    padding-top: 25px;
    margin-bottom: 20px;
    font-family: "Cabin";
    line-height: 80px;

}

#descricao {
    line-height: 25px;
}

.trio {
    margin-top: 20px;
}

.skills {
    width: 300px;
    height: 260px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: bottom;

}

nav, section, div, footer {

    border: 0px solid green;
}

footer {
    margin-top: 20px;
}


    