body {
            font-family: "Epilogue", Verdana, sans-serif;
            background-color: rgb(16, 21, 26);
            color: rgb(244, 241, 222)
        }

        .button {
            background-color: rgb(242, 204, 143);
            color: rgb(16, 21, 26);
            text-decoration: none;
            line-height: 50px;
            padding: 12px;
            font-size: 20px;
        }
        li {
            line-height: 30px;
        }